#navigation {
  width: 100%;
  position: fixed;
  margin: auto;
  top: 0;
  padding: 10px;
  z-index: 1;
}
#navbar {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: black;
  box-shadow: 0 1px 10px white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  animation: navbar-dropin 500ms forwards;
  z-index: 1;
}
@keyframes navbar-dropin {
  from {
    top: -6%;
  }
  to {
    top: 0;
  }
}
.brand-name {
  padding-right: 150px;
}
.dropdown {
  padding: 0;
  margin: 0;
}

.dropdown button {
  text-decoration: none;
  border: none;
  color: white;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  min-width: 160px;
  margin-top: 20px;
}

.dropdown-content a {
  color: white;
  border-radius: 25%;
  text-shadow: 1px 1px 5px black;
  padding: 0 10px;
  font-size: 35px;
  text-decoration: none;
}
.dropdown-content i {
  transition:  transform .2s;
}
.dropdown-content i:hover {
  color: #ddc47e;
  text-shadow: 1px 1px 5px black;
  transform: scale(1.5);
                           }
                           
.dropdown:hover .dropdown-content {
  display: block;
  animation: drop-in .5s forwards;
}
@keyframes drop-in {
  from {top: 40%}
  to {top:100%}
}
.dropdown button:hover {
  color: #ddc47e
}
.underline {
  color: black;
}
.navbar {
  background-color: black;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  margin-right: 100px;
}
.navbar a {
  width: 86px;
  font-size: 14px;
  color: white;
  font-family: 'Noto Sans', sans-serif;  
  text-align: center;
  padding-left: 30px;
  text-decoration: none;
  letter-spacing: .2em;
}
.navbar a:hover {
  color: #ddc47e;
} 
a:hover .underline {
  animation: underline 500ms ;
  color: #ddc47e;
}
.navbar .active {
  color: #ddc47e;
}
@keyframes underline {
  from {
    left: -50%;
    width: 0%;
  }
  to {
    left: 5%;
    width: 100%;
  } 
}
#banner {
  text-align: center;
  animation: banner-fade-in 1s forwards;
}
@keyframes banner-fade-in {
  0% {
    filter: blur(0) opacity(0);
  }
  25% {
    filter: blur(0) opacity(0.2);
  }
  50% {
    filter: blur(0) opacity(0.5);
  }
  75% {
    filter: blur(0) opacity(0.8);
  }
  100% {
    filter: blur(0) opacity(1);
  }
}

#fed {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
  position: absolute;
  bottom: 5%;
  right: 30%;
}

/* Media queries */
/* Screens 1200px or less */
@media (max-width: 1200px) {
  #fed {
    right: 15%;
  }
  #banner-image {
    width: 100%;
    height: auto;
  }
}
/* Screens 960px or less */
@media (max-width: 960px) {

}
/* Screens 870px or less */
@media (max-width: 870px) {
  #navbar {
    height: 100px;
    z-index: 1;
  }
  #brand-name {
    margin-left: 10px;
  }
  .navbar {
    justify-content: start;
    flex-wrap: wrap;
    margin: 20px 5px 0 0;
  }
  .navbar .btn {
    padding: 0 10px;
  }
  #fed {
    font-size: 20px;
    right: 10%;
  }
  .brand-name {
    padding-right: 5px;
  }
  .dropdown button {
    font-size: 20px;
  }
}
/* Screens 650px or less */
@media (max-width: 650px) {
  #banner {
    margin-top: 90px;
  }
  a:hover .underline {
    animation: none;
    color: black;
  }
}
/* Screens 320px or less */
@media (max-width: 320px) {
  #brand-name {
    margin-left: 5px;
  }
  .navbar {
   padding-left: 10px;
  }
  .navbar .btn {
    padding: 0;
  }
}